/* ROOT & BODY START */

:root {
    --dark-color: rgb(0, 31, 63);
    --lighter-color: #1172b6;
    --green-color: #33d1a0;
}

html,
body {
    background-color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


/* ROOT & BODY END */


/* NAVBAR START */

nav {
    background-color: var(--dark-color);
    margin: 1% 5% 0% 5%;
    padding: 0% 7%;
    /* Navbar border */
    border: 2px solid white;
}

.navbar-brand {
    font-size: 1.5rem;
    transition: transform 0.2s;
}

.navbar-brand:hover {
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}

nav .navbar-nav li a {
    color: white !important;
}

.navLinks>li {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0 25px;
}

.nav-link {
    transition: transform 0.2s;
}

.nav-link:hover {
    color: white;
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.navbar-inner {
    background: var(--dark-color);
}

.white-hamburger {
    color: white;
    font-size: 1.5rem;
}

.navbar-toggler {
    border: 0;
    border-radius: 0;
}


/* NAVBAR END */


/* VIDEO BACKGROUND START */

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.v-container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}

.header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: var(--dark-color);
    opacity: 0.93;
}

.header-content {
    z-index: 2;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.header-content h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
    -webkit-text-stroke: 2px var(--dark-color);
}

.header-content p {
    color: #c1c1c1;
    font-size: 1.75rem;
    font-weight: 300;
    display: block;
    padding: 5% 0 4%;
    /* padding-bottom: 2rem; */
}

#emphasis-skills {
    color: #3cf2ff;
}

#emphasis-qualities {
    color: #3ff28a;
}


/* VIDEO BACKGROUND END*/


/* ABOUT START */

.about {
    background-color: #1172b6;
    padding: 5% 0 5% 0;
}

#aboutlink {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

.about-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

hr {
    color: var(--green-color);
}

.about-card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 350px;
    min-height: 350px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
    border-radius: 0;
}

.front,
.back {
    display: flex;
    border-radius: 0;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
    border: 2px solid var(--green-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.front {
    background-color: var(--dark-color);
    padding: 2rem;
    font-size: 1.618rem;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

.front:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
    z-index: -1;
}

.about-card:hover .front {
    transform: rotateX(180deg);
}

.about-card:nth-child(even):hover .front {
    transform: rotateX(-180deg);
}

.back {
    color: white;
    background: var(--dark-color);
    transform: rotateX(-180deg);
    padding: 0 2em;
}

.about-card:hover .back {
    transform: rotateX(0deg);
}

.about-card:nth-child(even) .back {
    transform: rotateX(180deg);
}

.about-card:nth-child(even):hover .back {
    transform: rotateX(0deg);
}


/* ABOUT END */


/* PROJECTS START */

.projects {
    background-color: var(--dark-color);
    padding: 5% 0 7% 0;
}

#projectslink {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.section-heading {
    color: white;
    padding-bottom: 2%;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.projects-container {
    padding: 0 10%;
}

.card img,
.card a {
    border-radius: 0;
    border: 0;
}

.card {
    border: 2px solid var(--green-color);
    border-radius: 0;
}

.card-body {
    color: white;
    background-color: var(--dark-color);
}

.card-title {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: var(--dark-color);
    border: 0;
    color: white;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: var(--lighter-color);
    border-radius: 3px 0 0 3px;
    color: white;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: var(--dark-color);
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: var(--dark-color);
    border-bottom: 13px solid transparent;
    border-left: 10px solid var(--lighter-color);
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}

.btn {
    border: 0;
}

.btn-green {
    color: var(--dark-color);
    background-color: var(--green-color);
}

.btn-dark {
    background-color: var(--lighter-color);
}


/* PROJECTS END */


/* CONTACTS START */

.secondary-button-dark a {
    padding: 13px 20px;
    letter-spacing: 0.5px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.2s;
}

.secondary-button-dark a:hover {
    padding: 13px 20px;
    letter-spacing: 0.5px;
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}

#email {
    border-color: var(--dark-color);
    color: var(--dark-color);
}

#email:hover {
    border-color: white;
    color: white;
}

#contact .service-item {
    text-align: center;
    margin: 0px -15px;
    padding: 90px 30px;
}

#contact .service-item h4 {
    margin-bottom: 25px;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

#contact .email {
    background-color: var(--green-color);
}

#contact .github {
    background-color: var(--lighter-color);
}

.say-hi {
    color: var(--dark-color);
}


/* CONTACTS END */


/* FOOTER START  */

footer {
    color: white;
    margin-top: 5px;
}


/* FOOTER END */


/* SCROLL ARROW START */

.scroll-position p {
    position: absolute;
    bottom: 1px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.scroll-position p:hover {
    opacity: 1;
}

#scroll-animation p {
    padding-top: 60px;
}

#scroll-animation p span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

#scroll-animation p span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* SCROLL ARROW END */


/* BACK TO TOP BUTTON START */

#backToTop {
    display: inline-block;
    background-color: var(--dark-color);
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: x-small;
    border: 1px solid white;
    border-radius: 0;
    position: fixed;
    bottom: 30px;
    right: 25px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTop i {
    color: white;
    font-size: 1.5rem;
    padding-top: 15%;
}

#backToTop:hover {
    cursor: pointer;
    background-color: var(--dark-color);
}

#backToTop:active {
    background-color: var(--green-color);
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}


/* BACK TO TOP BUTTON END */


/* QUERIES START */

@media screen and (max-width: 800px) {
    .about-card {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 500px) {
    .about-card {
        width: 100%;
    }
}

@media only screen and (max-width: 775px) {
    .scroll-position p {
        left: 43%;
    }
    .v-container {
        max-width: 960px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
    }
}


/* QUERIES END */